@model List<Student>
<link href="~/css/table.css" rel="stylesheet" />


<a class="nav-link text-dark" id="Create" asp-area="" asp-controller="Student" asp-action="Create">Create New Student</a>





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered   table-striped" style="margin-top:50px">
            <thead class="table__head">
                <tr class="winner__table">

                    <th><i class="fa fa-user" aria-hidden="true"></i> Student Name</th>
                    <th><i class="fa fa-child" aria-hidden="true"></i> Student Age</th>
                    <th><i class="fa fa-toggle-on" aria-hidden="true"></i> IS Active</th>

                    <th><i class="fa fa-trash" aria-hidden="true"></i> Delete</th>

                </tr>
            </thead>
            @foreach (Student I in Model)
            {
                <tbody>
                    <tr class="winner__table">
                        <td>@I.StudentName</td>
                        <td>@I.StudentAge</td>
                        <td>@I.IsActive</td>
                      
                        <td><a href="/Student/Delete/@I.StudentID"><i class="fa fa-trash-o" style="font-size:20px;color:#4F89D4"></i></a></td>

                    </tr>



                </tbody>
            }
        </table>
    </div>
</div>


